body {
  background-color: rgb(102, 86, 64);
}
.catimg {
  height: 8rem;
  width: 8rem;
  border-radius: 3rem;
  margin-top: 3rem;
}

.catSearch {
  height: 1.7rem;
  width: 25rem;
  margin-left: 31rem;
  margin-top: 3rem;
  border-radius: 00.5rem;
}
.SearchBtn {
  height: 2.08rem;
  width: 5rem;
  background-color: rgb(4, 145, 145);
  border-radius: 0.5rem;
}
